@import '../base';

.Section {
  margin: 20px;
  display: grid;

  // prettier-ignore
  grid-template:
    ' title' auto
    ' body ' 1fr
    / 1fr
  ;

  &__Title {
    background: $blue;
    color: $blue-white;
    padding: 5px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  &__Body {
    background: $blue-gray;
    padding: 1em;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
