html {
  height: 100%;
}

html,
body,
main {
  display: grid;
  grid-template: 'main' 1fr / 1fr;
  grid-area: main;
  font: normal 16px sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
